@model CoreAjaxProject.Models.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="container">
    <div class="row mt-lg-5">
        <div class="col-4 offset-4 border border-primary rounded pl-5 pr-5 pb-5">
            <div class="text-center">
                <a class="text-light btn btn-primary font-weight-bold"
                   asp-action="SignUp" asp-controller="Acoount">Kayıt Ol</a>
            </div>
            <form method="post" asp-action="Login">
                <div class="form-group">
                    <label asp-form="EMail"></label>
                    <input type="text" asp-for="EMail" placeholder="Email Giriniz" class="form-control" autocomplete="off" />
                    <span class="text-danger">@TempData["errormail"]</span>
                </div>

                <div class="form-group">
                    <label asp-form="Passwordd"></label>
                    <input id="password" type="password" asp-for="Passwordd" placeholder="Şifre Giriniz" class="form-control" autocomplete="off" />
                    <span class="text-danger">@TempData["errorpsw"]</span>

                    <i id="open" class="fa fa-eye float-right" style="margin-top:-22px;margin-right:6px;cursor:pointer;"></i>
                    <i id="closed" class="fa fa-eye-slash float-right" style="margin-top:-22px;margin-right:6px;cursor:pointer;display:none;"></i>
                </div>

                <div class="form-group">
                    <input type="checkbox" asp-for="IsRemember" />
                    <label asp-for="IsRemember"> Beni Hatırla</label>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-primary mb-2" value="Giriş Yap" />
                </div>
            </form>
            <div class="text-center">
                <a class="text-primary" asp-action="ForgotPassword">Şifren mi Unuttun</a><a class="text-primary" asp-action="ForgotPassword">Şifremi Unuttum</a>
            </div>
      </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#open").click(function () {
            $("#open").hide();
            $("#closed").show();
            $("#password").attr("type", "text");
        });
        $("#closed").click(function () {
            $("#closed").hide();
            $("#open").show();
            $("#password").attr("type", "password");
        });


    });



</script>